dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
.cache/ 
build/ 
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
