:host {
  display: block;
}

.item {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 50px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
